@model ProjectManagementPRN221.Models.Team

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TeamId" />
            <div class="form-group">
                <label asp-for="TeamName" class="control-label"></label>
                <input asp-for="TeamName" class="form-control" />
                <span asp-validation-for="TeamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfMember" class="control-label"></label>
                <input asp-for="NumberOfMember" class="form-control" />
                <span asp-validation-for="NumberOfMember" class="text-danger"></span>
            </div>
            <div class="form-group"> 
                <label asp-for="Leader" class="control-label"></label>
                <select required asp-for="Leader" class="form-control" asp-items="ViewBag.Leader"></select>
                <span asp-validation-for="Leader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mssvs" class="control-label"></label>
                <select name="ids" required multiple asp-for="Mssvs" class="form-control" asp-items="ViewBag.Member"></select>
                <span asp-validation-for="Mssvs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
