@model ProjectManagementPRN221.Models.Project

@using Microsoft.AspNetCore.Http
@using ProjectManagementPRN221.Extensions
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Edit";
    Account account = HttpContextAccessor.HttpContext.Session.Get<Account>("account");
    Student student = HttpContextAccessor.HttpContext.Session.Get<Student>("student");
}

<h1>Edit</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectId" />
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label"></label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic" class="control-label"></label>
                <input asp-for="Topic" class="form-control" />
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinishDate" class="control-label"></label>
                <input asp-for="FinishDate" class="form-control" />
                <span asp-validation-for="FinishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsFinished" class="control-label"></label>
                <input asp-for="IsFinished" class="form-control" />
                <span asp-validation-for="IsFinished" class="text-danger"></span>
            </div>
            @if (account.RoleId == 2)
            {
                <div class="form-group">
                    <label asp-for="Grade" class="control-label"></label>
                    <input readonly asp-for="Grade" class="form-control" />
                    <span asp-validation-for="Grade" class="text-danger"></span>
                </div>
            }else if(account.RoleId == 1)
            {
                <div class="form-group">
                    <label asp-for="Grade" class="control-label"></label>
                    <input asp-for="Grade" class="form-control" />
                    <span asp-validation-for="Grade" class="text-danger"></span>
                </div>
            }
            
            <div class="form-group">
                <label asp-for="Team" class="control-label"></label>
                <select asp-for="TeamId" class="form-control" asp-items="ViewBag.TeamId"></select>
                <span asp-validation-for="TeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
